<p> MESSAGE AUTOMATIQUE </p>
<br>

<p class=""> Bonjour {{ last_name }} {{ first_name }} </p>

<p> Bonne nouvelle : Votre réservation est disponible au club. <p>
<br>

<p> Réservation #{{ commande.numero_commande }} </p>
<p> Rappel de votre commande : </p>

{% for produit in produits %}

<ul> 
  <li> {{ produit.nom }} x{{produit.quantite}} </li>
</ul>

{% endfor %}

Total : {{ commande.total }}€

<p>Pour plus d'infos, accédez à la rubrique "commandes" après vous être connecté.</p>

<p> Ce mail vous servira de preuve d'achat lors de la récupértion de votre commande. </p>
À très vite !


<p> RAPPEL : CECI EST UN MESSAGE AUTOMATIQUE </p>
