MESSAGE AUTOMATIQUE
<br>
<br>
Bonjour,
<br>
Bonne nouvelle : Une nouvelle reservation vient d'être effectué.
<br>
<br>
Réservation #{{ commande.numero_commande }}:
<br>
Nom : {{ commande.user.last_name }} {{ commande.user.first_name }}
<br>
Adresse mail : {{ commande.user.username }}
<br>
<br>
Commande :
<br>
{% for produit in produits %}

- {{ produit.nom }} x {{produit.quantite}} <br>

{% endfor %}
<br>
Total : {{ commande.total }}€
<br>
<br>
{% if commande.infos %}
    Note de l'utilisateur : 
    <br>
    {{ commande.infos }}
{% endif %}

<br><br>
Pour plus d'infos, accédez à la rubrique "commandes" depuis votre pannel Admin après vous être connecté.
<br>
N'oubliez pas de changer le statut de la commande afin que l'utilisateur sois informé de l'avancé de sa commande.
<br>
<br>
RAPPEL : CECI EST UN MESSAGE AUTOMATIQUE