{% extends "boutique/base.html" %} 
{% block title %} Commandes {% endblock %} 
{% block description %} Commandes en cours ou déjà effectuées. {% endblock %} 
{% block contain %} {% load static %}

{% include "boutique/navbar_boutique.html" %}

<!-- component -->
<div class="bg-gray-100 dark:bg-gray-800 transition-colors duration-300 align-center">
  <div class="container mx-auto p-4 max-w-[1000px]">
    <div class="bg-white dark:bg-gray-700 shadow rounded-lg p-6">
      <h1 class="text-xl font-semibold mb-4 text-gray-900 dark:text-gray-100">
        Informations personnelles
      </h1>
      <p class="text-gray-600 font-m dark:text-gray-300 mb-6">
        Si vous ne souhaitez pas modifier certains éléments, laissez-les comme ils sont.
      </p>

      {% if messages %}
      <div class="w-full text-center pt-2">
      {% for message in messages %}
      <div class="inline-flex items-center p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <p>{{ message }}</p>
        </div>
      </div>
      {% endfor %}
      </div>
      {% endif %}

      <form method="POST" class="space-y-4 md:space-y-6" action="#">
        {% csrf_token %}

        <div class="flex gap-4">

          <div class="w-1/2">
              <div>
                <label
                  for="last-name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Votre nom</label
                >
                <input
                  type="last-name"
                  name="last-name"
                  id="last-name"
                  value="{{ user.last_name }}"
                  class="bg-gray-50 border font-m border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Prénom"
                  required=""
                />
              </div>
          </div>

          <!-- PRÉNOM -->
          <div class="w-1/2">
            <div>
              <label
                for="first-name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Votre prénom</label
              >
              <input
                type="first-name"
                name="first-name"
                id="first-name"
                value="{{ user.first_name }}"
                class="bg-gray-50 border font-m border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Prénom"
                required=""
              />
            </div>
          </div>

        </div>

        <!-- NUMÉRO DE TÉLÉPHONE -->
        <div>
          <label
            for="phone-number"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Votre numéro de téléphone</label
          >
          <input
            type="phone-number"
            name="phone-number"
            id="phone-number"
            value="{{ user.phone_number }}"
            class="bg-gray-50 border font-m border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Numéro de téléphone"
            required=""
          />
        </div>

        <!-- ADRESSE MAIL -->
        <div>
          <label
            for="username"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Votre adresse mail</label
          >
          <input
            type="username"
            name="username"
            id="username"
            value="{{ user.username }}"
            class="bg-gray-50 font-m border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Adresse mail"
            required=""
          />
        </div>

        <div class="flex sm:gap-10 gap-3 sm:flex-row flex-col">
          <a href="{%url 'boutique:profil' %}">
            <button
            type="button"
            id="theme-toggle"
            class="px-4 py-2 w-full rounded bg-gray-300 text-black hover:bg-gray-200 focus:outline-none transition-colors"
            >
            Annuler les modifications
            </button>
          </a>
            <button
            type="submit"
            id="theme-toggle"
            class="px-4 py-2 rounded bg-red-600 text-white hover:bg-red-400 focus:outline-none transition-colors"
            >
            Modifier les informations
            </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
